img[src$='#floatleft']
{
	float:left;
	  margin-top: 0px;
	  margin-bottom: 0px;
    margin-right: 10px;  

        //etc. etc/
}

img[src$='#right']
{
	float:left;
    margin-left: 10px;  
	  margin-bottom: 0px;
	  margin-top: 1px;
       //etc. etc.
}
img[src$='#floatright']
{
	float:right;
    margin-left: 10px;  
	  margin-bottom: 0px;
	  margin-top: 1px;
       //etc. etc.
}
figure[src$='#figfloatright']
{
  float: right;
  margin: 5px 5px 8px 5px;
}
figure {
    display: inline-block;
    /* border: 1px dotted gray; */
    margin: 10px;   /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    /* border: 1px dotted blue; */
    text-align: center;
    font-size: 1em; 
}
